#notfound {
    text-align: center;
    color: #1898dd;

    img {
        width: 500px;
        margin: 0 auto;
        padding: 95px 0 35px;
    }

    h2 {
        font-size: 34px;
        font-weight: 900;
        letter-spacing: 1px;
    }

    h3 {
        font-weight: 900;
        margin: 5px 0 30px;
    }
}